@font-face {
    font-family: Product-Sans-Bold;
    src: url(fonts/product_sans_bold.ttf);
}
@font-face {
    font-family: Product-Sans-Regular;
    src: url(fonts/product_sans_regular.ttf);
}
@font-face {
    font-family: fonts/NotoSansKR-Regular;
    src: url(fonts/NotoSansKR-Regular.otf);
}
@font-face {
    font-family: Noto-Sans-Regular;
    src: url(fonts/noto_sans_regular.ttf);
}
@font-face {
    font-family: Noto-Sans-Bold;
    src: url(fonts/noto_sans_bold.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@media (max-width: 450px){
    .text-container{
        margin-top: 30px;
    }
}

.text-container{
    margin-top: 150px;
    max-width: 450px;
}

.heading{
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 10px;
}
.heading .title{
    font-family: Product-Sans-Bold;
}
.heading .sub-title{
    font-family: Product-Sans-Regular;
    font-size: 12.8px;
}

.top-nav {
    font-family: Product-Sans-Bold;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 10px;
}
.top-nav .nav-option{
    color: #333;
    text-decoration: none;
}
.top-nav .nav-option:hover{
    background-color: yellow;
}

.separator{
    margin-top: 50px;
    margin-bottom: 50px;
}


.intro .text-header{
    font-family: Product-Sans-Regular   ;
    margin-top: 30px;
    margin-bottom: 30px;
}
.intro .text-body{
    font-family: Product-Sans-Regular;
    margin-top: 30px;
    margin-bottom: 30px;
}